* {
  box-sizing: border-box;
}

:root {
  --container-width: 75vw;
  --tiles-wrapper-height: calc(var(--container-width) / 2);
  --footer-height: 100px;
  --content-height: calc(100vh - 100px);
  --content-padding-top: 140px;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
}

/* -----------------------------  Header --------------------------------------------------------*/

.header {
  z-index: 10;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  animation-name: slide;
  animation-duration: 1s;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.header__icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.notify-icon {
  color: #c0c9d8;
  margin-right: 25px;
}

.notify-icon:hover {
  cursor: pointer;
  color: #8d97a4;
}

.dropdown {
  position: relative;
}

.dropdown__btn {
  position: absolute;
  width: 40px;
  height: 40px;
  opacity: 0;
  cursor: pointer;
  z-index: 50;
}

.dropdown__menu {
  position: absolute;
  min-width: 200px;
  display: none;
  top: 60px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  padding: 15px 25px;
  background-color: #ffffff;
}

.dropdown__menu .username {
  color: #8d97a4;
  text-align: center;
  margin-bottom: 0.6rem;
}

.dropdown__btn:checked ~ .dropdown__menu {
  display: block;
}

.dropdown__btn:hover ~ .dropdown .avatar-icon {
  background-color: #c57813;
}

.nav {
  margin-top: 0.5rem;
}

.nav__item {
  line-height: 2rem;
  list-style-type: none;
  transition: 0.3s;
}

.nav__item .icon {
  margin-right: 5px;
}

.nav__item:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.avatar-icon {
  border-radius: 50%;
  background-color: #f8991c;
  color: #ffffff;
  font-size: 1.4rem;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown__menu .avatar-icon {
  margin: 0 auto 10px;
}

@keyframes slide {
  0% {
    transform: translate(0, -70px);
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

/* --------------------------------------- Content ---------------------------------------- */

.content {
  height: calc(100vh - 100px);
  padding-top: var(--content-padding-top);
  z-index: 1;
  background-color: #f8f9fc;
}

.content .container,
.tiles {
  height: 100%;
}

.tiles-wrapper {
  height: var(--tiles-wrapper-height);
}

.tiles {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: 4fr 4fr 5fr 3fr;
}

.card {
  color: #ffffff;
  position: relative;
  z-index: 2;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 800px;
}

.card.logo {
  grid-area: 1/1/5/2;
}

.card.logo img {
  max-width:50%;
  max-height:50%;
}

.card.logo .cover {
  background-color: #ffffff;
}

.card.questions {
  grid-area: 5/1/9/2;
}

.card.questions .cover {
  background-color: #47b66b;
}

.card.javascript {
  grid-area: 1/2/7/3;
  overflow: visible;
}

.card.javascript .cover {
  background-color: #f5c75e;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: bold;
  padding-right: 10px;
}

.card.logo .info,
.card.questions .info,
.card.javascript .info {
  transform: rotateY(180deg);
}

.card.logo .info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.join-btn {
  background-color: #3291f7;
  color: #ffffff;
  padding: 10px 30px;
  text-decoration: none;
  font-weight: normal;
  font-size: 1.2rem;
  border-radius: 3px;
}

.join-btn:hover {
  background-color: #043a9a;
}

.card.logo:hover .cover,
.card.questions:hover .cover,
.card.javascript:hover .cover {
  transform: rotateY(180deg);
}

.card.logo:hover .info,
.card.questions:hover .info,
.card.javascript:hover .info {
  transform: rotateY(360deg);
}

.card.java {
  grid-area: 7/2/9/3;
}

.card.java .cover {
  background-color: #e12b4c;
  font-size: 2rem;
}

.card.java:hover .cover {
  transform: translate(0, 100%);
}

.card.php {
  grid-area: 1/3/4/5;
}

.card.php .cover {
  background-color: #8893c0;
  font-style: italic;
  font-size: 5rem;
  transform-origin: top right;
}

.card.php:hover .cover,
.card.net:hover .cover {
  transform: scale(0, 0);
}

.card.net {
  grid-area: 4/3/9/4;
}

.card.net .cover {
  background-color: #642077;
  transform-origin: bottom right;
}

.card.events {
  grid-area: 4/4/6/5;
}

.card.events:hover .cover,
.card.blog:hover .cover,
.card.contacts:hover .cover {
  transform: translate(100%, 0);
}

.card.events .cover {
  background-color: #2d99ff;
}

.card.blog {
  grid-area: 6/4/8/5;
}

.card.blog .cover {
  background-color: #0443a3;
}

.card.contacts {
  grid-area: 8/4/9/5;
}

.card.contacts .cover {
  background-color: #00265f;
}

.card.contacts a {
  color: #000000;
}

.card:not(.javascript) .cover {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card.javascript .cover,
.card.php .cover {
  color: #000000;
}

.card.questions .cover,
.card.javascript .cover,
.card.net .cover {
  font-size: 4rem;
}

.card .cover {
  transition: all 0.5s;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

.card__face {
  backface-visibility: hidden;
  transition: 0.5s;
}

.card.logo,
.card.questions,
.card.javascript {
  overflow: visible;
}

.card.logo,
.card.questions,
.card.net {
  height: 100%;
}

.card .info {
  background-color: white;
  color: black;
  height: 100%;
  padding: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

.card.blog .info,
.card.events .info,
.card.contacts .info {
  font-size: 1.2rem;
  font-weight: normal;
}

.card.events .info {
  overflow-y: scroll;
}

.card.contacts .info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card.contacts .info .fab {
  margin-right: 10px;
}

.card.contacts .info .fab:hover {
  color: #043a9a;
  cursor: pointer;
}

/* ------------------------------ Messages -------------------------------------- */
.messages {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 50;
}

.message {
  display: flex;
  align-items: center;
  width: 250px;
  color: #ffffff;
  padding: 20px 20px 20px 5px;
  border-radius: 3px;
  margin-top: 15px;
}

.message .fas {
  margin: 10px;
}

.message__info {
  font-size: 0.8rem;
  line-height: 1rem;
}

.message__title {
  font-weight: bold;
}

.message--success {
  background: rgba(119, 182, 118, 0.9);
}

.message--error {
  background: rgba(204, 97, 90, 0.9);
}

.message--warning {
  background: rgba(255, 153, 28, 0.9);
}

/* -------------------------------  Footer ------------------------------------------------- */
.footer {
  height: 100px;
  background-color: #f8f9fc;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.copyright {
  margin-bottom: 20px;
}


/* -----------------------------  Media queries ------------------------------------------ */

@media (max-width: 950px) {
  :root {
    --container-width: 90vw;
    --tiles-wrapper-height: calc(var(--container-width) * 9 / 10);
  }

  .tiles {
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(20, 1fr);
  }

  .card.logo {
    grid-area: 1/1/9/10;
  }

  .card.questions {
    grid-area: 13/1/17/11;
  }

  .card.javascript {
    grid-area: 1/10/9/16;
    overflow: visible;
  }

  .card.java {
    grid-area: 9/1/13/11;
  }

  .card.php {
    grid-area: 9/11/13/21;
  }

  .card.net {
    grid-area: 13/11/17/21;
  }

  .card.events {
    grid-area: 1/16/4/21;
  }

  .card.blog {
    grid-area: 4/16/7/21;
  }

  .card.contacts {
    grid-area: 7/16/9/21;
  }

  .card.php .cover {
    font-size: 4rem;
  }

  .card.java .cover {
    font-size: 1.6rem;
  }

  .card .info {
    font-size: 1rem;
    padding: 10px;
  }

  .card.blog .info,
  .card.events .info,
  .card.contacts .info {
    font-size: 0.8rem;
  }
}

@media (max-width: 650px) {
  :root {
    --container-width: 90vw;
    --tiles-wrapper-height: 1350px;
    --content-padding-top: 80px;
  }
  .tiles {
    grid-template-rows: repeat(9, 150px);
    grid-template-columns: 1fr;
  }

  .card.logo {
    grid-area: 1/1/2/2;
  }

  .card.questions {
    grid-area: 2/1/3/2;
  }

  .card.javascript {
    grid-area: 3/1/4/2;
  }

  .card.java {
    grid-area: 4/1/5/2;
  }

  .card.php {
    grid-area: 5/1/6/2;
  }

  .card.net {
    grid-area: 6/1/7/2;
  }

  .card.events {
    grid-area: 7/1/8/2;
  }

  .card.blog {
    grid-area: 8/1/9/2;
  }

  .card.contacts {
    grid-area: 9/1/10/2;
  }

  .card.php .cover {
    font-size: 4rem;
  }

  .card.java .cover {
    font-size: 1.6rem;
  }

  .card .info {
    font-size: 1.2rem;
    padding: 10px;
  }

  .card.blog .info,
  .card.events .info,
  .card.contacts .info {
    font-size: 1rem;
  }
}